body {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #e3ebe3;
}

h1 {
    text-transform: uppercase;
}

.card {
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
}

textarea.form-control{
    height: 120px;
    resize: none;
}

img {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.btn-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}